body {
    background-color: #000;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: start;
    font-family: 'Switzer', sans-serif;
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

svg {
    color: tomato;
    height: 30px;
    width: 20px;
}

.yellow-color {
    background-color: #dfdf89;
    color: black;
}

.blue-color {
    background-color: #70A7D8;
    color: black;
}

.red-color {
    background-color: #e5383b;
    color: black;
}

.golden-color {
    background-color: #89753C;
    color: black;
}

.green-color {
    background-color: green;
    color: black;
}

.date {
    color: #dfdf89;
    font-weight: 700;
    font-size: 18px;
}

/**title**/

#title {
    font-family: 'Clash Display', sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: transparent;
    background: url('images/background.jpg') center/cover no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    text-align: center;
    margin: 20px;
    margin-top: 30px;
}

/**img-div**/

.img-div {
    text-align: center;
    padding: 20px;
}

/**image**/

#image {
    width: 90%;
    max-width: 100%;
    margin: 30px auto;
    display: block;
    border-radius: 30px;
}

/**image-caption**/

#img-caption {
    margin-top: 30px;
    color: #dfdf89;
    text-align: center;
    font-size: 20px;
    font-style: italic;
    font-weight: 301;
}

/**Javier**/

a#tribute-link {
    text-decoration: none;
    color: #dfdfdf;
}

/**Divider**/

#divider {
    background-color: white;
    width: 80%;
    margin: 0 auto;
    height: 3.5px;
}

/**Tribute-info**/

#tribute-info {
    color: white;
    font-size: 18px;
    text-align: center;
    border-radius: 30px;
    padding: 20px;
    margin-top: 10px;
    background-color: black;
    width: 90%;
    max-width: 100%;
    margin: 30px auto;
    display: block;
    font-weight: 600;
}

/**Divider-2**/

#divider-2 {
    background-color: white;
    width: 80%;
    margin: 0 auto;
    height: 2.5px;
}

/**Timeline**/

ul {
    list-style: none;
}

li {
    transition: all .4s ease-in-out;
}

li:hover {
    transform: scale(1.05);
}

#timeline {
    text-align: center;
    color: white;
}